#include <stdio.h>
int main()
{
    int lista[10];
    int i, j, aux;
    
    for (i=0; i<10; i++){
        printf ("Dale valor al vector en la posición %d: ", i);
        scanf ("%d", &lista[i]);
    }
    printf("Ahora se ordenarán los números insertados de mayor a menor: " "\n");
    for (i=0; i<10; i++){  
        for (j=i; j<10; j++){
            if (lista[i] < lista[j]){
                aux = lista[i];
                lista[i] = lista[j];
                lista[j] = aux;
            }
        }
    }
    for (i=0; i<10; i++)printf("%d \t", lista[i]);
    return 0;
}
